@media  (min-width: 320px) and (max-width: 425px) {
    * {
        margin: 0;
        padding: 0;
    }
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .main {
        height: 700px;
        overflow-y: hidden;
        &__cr-line {
            display: none;
        }
        &__cr-line-mob {
            display: block;
            position: absolute;
            left: 0;
            bottom: -4px;
        }
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            max-width: 262px;
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
            padding-top: 147px;
        }
        &__text {
            max-width: 296px;
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }
        &__button {
            width: 285px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            margin-bottom: 182px;
        }
        &__img-1 {
            display: none;
        }
        &__img-2 {
            height: 35px;
            width: 35px;
            top: 97px;
            left: 37px;
        }
        &__img-3 {
            width: 21px;
            height: 21px;
            top: 64px;
            left: 91px;
        }
        &__img-4 {
            display: none;
        }
        &__img-5 {
            display: none;
        }
        &__img-6 {
            display: block;
            width: 234px;
            height: 239px;
            position: absolute;
            left: 175px;
            top: -93px;
            background-image: url(img/star-6.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .about-game {
        display: none;
    }
    .m-game {
        &__title {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: left;
            padding-top: 48px;
        }
    }
    .game-block {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0px;
    }
    .game-1 {
        justify-content: flex-end;
        flex-direction: column;
        grid-column: span 4;
        &__img {
            max-width: 393px;
            height: 284px;
        }
    }
    .game-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 29px 29px 32px 29px;
        &__title {
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            text-align: left;
        }
        &__desc {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
        }
        &__text {
            width: 285px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
        }

    }
   
}