* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.center-position {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main {
  overflow-x: hidden;
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-size: cover;
  background-position: center;
  position: relative;
}
.main__cr-line {
  position: absolute;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  padding: 27px 49px 27px 49px;
}
.main__cr-line-mob {
  display: none;
}

.main-content {
  max-width: 768px;
  height: 358px;
  position: relative;
}
.main-content__img-1 {
  position: absolute;
  left: 734px;
  top: -333px;
  width: 1047px;
  height: 1130px;
  background-image: url(img/group-star.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content__img-2 {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 94px;
  left: -57px;
  background-image: url(img/Star2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content__img-3 {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 69px;
  left: 36px;
  background-image: url(img/Star\ 3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content__img-4 {
  background-image: url(img/Star\ 5.svg);
  width: 37px;
  height: 37px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 828px;
  top: 538px;
}
.main-content__img-5 {
  background-image: url(img/Star\ 4.svg);
  width: 83px;
  height: 83px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 893px;
  top: 568px;
}
.main-content__img-6 {
  display: none;
}
.main-content__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 196px;
}
.main-content__text {
  padding-top: 24px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.main-content__button {
  width: 274px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 16px 28px 16px 28px;
  margin-top: 48px;
}
.main-content__button:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  cursor: pointer;
}
.main-content__link {
  text-decoration: none;
}
.main-content__link-mob {
  display: none;
}
.main-content__buttton-mob {
  display: none;
}

.about-game {
  overflow-x: hidden;
  background: rgb(32, 32, 39);
  height: 1450px;
}
.about-game__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
}
.about-game__desc {
  width: 788px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}

.about-game__position {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 72px;
}

.style {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  border: 0;
  padding: 8px 16px 10px 16px;
  margin-top: 32px;
}

.game-column-1 {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-column: span 4;
  position: relative;
}
.game-column-1__number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  margin-top: 32px;
  margin-left: 32px;
  width: 76px;
}
.game-column-1__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  margin-left: 32px;
}
.game-column-1__link-1 {
  text-decoration: none;
}
.game-column-1__game-1 {
  height: 473px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
}
.game-column-1__game-1:hover {
  transform: scale(1.1);
}
.game-column-1__img-1 {
  height: 314px;
  background-image: url(img/game-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.game-column-1__link-4 {
  text-decoration: none;
}
.game-column-1__game-4 {
  height: 551px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
}
.game-column-1__game-4:hover {
  transform: scale(1.1);
}
.game-column-1__img-4 {
  height: 314px;
  background-image: url(img/game-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.game-column-1__star-1 {
  position: absolute;
  left: -90px;
  top: 406px;
}
.game-column-1__star-2 {
  position: absolute;
  top: 458px;
  left: -75px;
}

.game-column-2 {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-column: span 4;
}
.game-column-2__number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  padding: 8px 16px 10px 16px;
  margin-top: 32px;
  margin-left: 32px;
  width: 76px;
}
.game-column-2__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  margin-left: 32px;
  max-width: 314px;
}
.game-column-2__link-2 {
  text-decoration: none;
}
.game-column-2__game-2 {
  height: 512px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
}
.game-column-2__game-2:hover {
  transform: scale(1.1);
}
.game-column-2__img-2 {
  height: 314px;
  background-image: url(img/game-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.game-column-2__link-5 {
  text-decoration: none;
}
.game-column-2__game-5 {
  height: 512px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
}
.game-column-2__game-5:hover {
  transform: scale(1.1);
}
.game-column-2__img-5 {
  height: 314px;
  background-image: url(img/game-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

.game-column-3 {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-column: span 4;
  position: relative;
  z-index: 1;
}
.game-column-3__number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  padding: 8px 16px 8px 16px;
  margin-top: 32px;
  margin-left: 32px;
  width: 76px;
}
.game-column-3__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  margin-left: 32px;
}
.game-column-3__link-3 {
  text-decoration: none;
}
.game-column-3__game-3 {
  height: 473px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
  z-index: 1;
}
.game-column-3__game-3:hover {
  transform: scale(1.1);
}
.game-column-3__img-3 {
  height: 314px;
  background-image: url(img/game-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.game-column-3__link-6 {
  text-decoration: none;
}
.game-column-3__game-6 {
  height: 551px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.6s;
}
.game-column-3__game-6:hover {
  transform: scale(1.1);
}
.game-column-3__img-6 {
  height: 314px;
  background-image: url(img/game-6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.game-column-3__star {
  position: absolute;
  top: -250px;
  left: 50px;
  z-index: -1;
}

.m-game {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
  overflow-x: hidden;
}
.m-game__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 96px;
}

.game-block {
  display: grid;
  row-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
}

.game-1 {
  display: flex;
  flex-direction: row-reverse;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
  position: relative;
}
.game-1__img {
  width: 600px;
  background-image: url(img/game-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.game-1__star-1 {
  position: absolute;
  top: -98px;
  right: 3px;
}
.game-1__star-2 {
  position: absolute;
  top: -62px;
  right: -67px;
}

.game-2 {
  display: flex;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
}
.game-2__img {
  width: 600px;
  background-image: url(img/game-2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.game-3 {
  display: flex;
  flex-direction: row-reverse;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
}
.game-3__img {
  width: 600px;
  background-image: url(img/game-3.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.game-4 {
  display: flex;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
}
.game-4__img {
  width: 600px;
  background-image: url(img/game-4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.game-5 {
  display: flex;
  flex-direction: row-reverse;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
}
.game-5__img {
  width: 600px;
  background-image: url(img/game-5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.game-6 {
  display: flex;
  grid-column: span 12;
  height: 498px;
  background: #ffffff;
  border-radius: 50px;
  position: relative;
}
.game-6__img {
  width: 600px;
  background-image: url(img/game-6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.game-6__star-3 {
  position: absolute;
  bottom: -79px;
  right: -71px;
}
.game-6__star-4 {
  position: absolute;
  right: 29px;
  bottom: -99px;
}

.game-info {
  padding: 48px;
}
.game-info__title {
  max-width: 504px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.game-info__desc {
  max-width: 475px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}
.game-info__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}

button {
  width: 247px;
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  border: 1px solid rgb(0, 0, 0);
  padding: 16px 28px 16px 28px;
  border: 0;
  margin-top: 36px;
}
button:hover {
  color: rgb(32, 32, 39);
  text-align: center;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
}

.footer {
  background-color: rgb(189, 237, 53);
  height: 150px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 90px;
  background-image: url(img/marquee.png);
  background-repeat: repeat-x;
  animation: moveLeft 16s infinite linear;
}

@keyframes moveLeft {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3220px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .about-game__desc {
    width: 757px;
  }
  .game-column-1__title {
    font-size: 28px;
    line-height: 34px;
  }
  .game-column-2__title {
    font-size: 28px;
    line-height: 34px;
  }
  .game-column-3__title {
    font-size: 28px;
    line-height: 34px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content__title {
    width: 426px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    padding-top: 147px;
  }
  .main-content__text {
    width: 426px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
  }
  .main-content__button {
    display: none;
  }
  .main-content__link {
    display: none;
  }
  .main-content__button-mob {
    display: block;
    width: 285px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    margin-bottom: 182px;
    padding: 16px 28px 16px 28px;
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
  }
  .main-content__link-mob {
    display: block;
    text-decoration: none;
  }
  .main-content__img-1 {
    display: none;
  }
  .main-content__img-2 {
    height: 35px;
    width: 35px;
    top: 97px;
    left: 37px;
  }
  .main-content__img-3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 91px;
  }
  .main-content__img-4 {
    width: 18px;
    height: 18px;
    top: 535px;
    left: 200px;
  }
  .main-content__img-5 {
    height: 42px;
    width: 39px;
    top: 635px;
    left: 322px;
  }
  .main-content__img-6 {
    display: block;
    width: 234px;
    height: 239px;
    position: absolute;
    left: 525px;
    top: -93px;
    background-image: url(img/star-6.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-game {
    display: none;
  }
  .game-block {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0px;
  }
  .game-1 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-1__img {
    width: 100%;
    height: 100%;
  }
  .game-1__star-1 {
    display: none;
  }
  .game-1__star-2 {
    display: none;
  }
  .game-2 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-2__img {
    width: 100%;
    height: 100%;
  }
  .game-3 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-3__img {
    width: 100%;
    height: 100%;
  }
  .game-4 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-4__img {
    width: 100%;
    height: 100%;
  }
  .game-5 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-5__img {
    width: 100%;
    height: 100%;
  }
  .game-6 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-6__img {
    width: 100%;
    height: 100%;
  }
  .game-6__star-3 {
    display: none;
  }
  .game-6__star-4 {
    display: none;
  }
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 29px 32px 29px;
  }
  .game-info__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
  }
  .game-info__desc {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .game-info__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    margin-top: 0;
  }
  button {
    width: 50%;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    border: 1px solid rgb(0, 0, 0);
    padding: 16px 28px 16px 28px;
    border: 0;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding-top: 40px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    height: 700px;
    overflow-y: hidden;
  }
  .main__cr-line {
    display: none;
  }
  .main__cr-line-mob {
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content__title {
    width: 262px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    padding-top: 147px;
  }
  .main-content__text {
    width: 296px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .main-content__button {
    display: none;
  }
  .main-content__button-mob {
    display: block;
    width: 285px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    margin-bottom: 182px;
    padding: 16px 28px 16px 28px;
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
  }
  .main-content__link {
    display: none;
  }
  .main-content__link-mob {
    display: block;
    text-decoration: none;
  }
  .main-content__img-1 {
    display: none;
  }
  .main-content__img-2 {
    height: 35px;
    width: 35px;
    top: 97px;
    left: 37px;
  }
  .main-content__img-3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 91px;
  }
  .main-content__img-4 {
    width: 18px;
    height: 18px;
    top: 566px;
    left: 272px;
  }
  .main-content__img-5 {
    height: 42px;
    width: 39px;
    top: 600px;
    left: 322px;
  }
  .main-content__img-6 {
    display: block;
    width: 234px;
    height: 239px;
    position: absolute;
    left: 238px;
    top: -93px;
    background-image: url(img/star-6.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-game {
    display: none;
  }
  .m-game {
    padding-bottom: 48px;
  }
  .m-game__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    padding-top: 48px;
    padding-bottom: 39px;
  }
  .game-block {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0px;
  }
  .game-1 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-1__img {
    width: 100%;
    height: 100%;
  }
  .game-1__star-1 {
    display: none;
  }
  .game-1__star-2 {
    display: none;
  }
  .game-2 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-2__img {
    width: 100%;
    height: 100%;
  }
  .game-3 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-3__img {
    width: 100%;
    height: 100%;
  }
  .game-4 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-4__img {
    width: 100%;
    height: 100%;
  }
  .game-5 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-5__img {
    width: 100%;
    height: 100%;
  }
  .game-6 {
    justify-content: flex-end;
    flex-direction: column;
    height: 528px;
  }
  .game-6__img {
    width: 100%;
    height: 100%;
  }
  .game-6__star-3 {
    display: none;
  }
  .game-6__star-4 {
    display: none;
  }
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 29px 29px 32px 29px;
  }
  .game-info__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
  }
  .game-info__desc {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .game-info__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    margin-top: 0;
  }
  button {
    width: 100%;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    border: 1px solid rgb(0, 0, 0);
    padding: 16px 28px 16px 28px;
    border: 0;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding-top: 40px;
  }
  .container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 51px;
    background-color: rgb(188, 236, 48);
    background-image: url(img/marquee-mob.png);
    background-repeat: repeat-x;
    animation: moveLeft 20s infinite linear;
  }
}/*# sourceMappingURL=style.css.map */